.table-top {
  height: 100%;
  max-width: 175rem;
  aspect-ratio: 1;
  background-image: url(https://images.theconversation.com/files/223749/original/file-20180619-126537-5l632j.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop);
  background-position: center;
  background-size: 105% 105%;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  &::before {
    content: "N";
    position: absolute;
    color: #fff;
    font-size: clamp(2rem, 2vw, 13rem);
    font-weight: bold;
    top: 1rem;
    left: 50%;
    width: 15%;
    aspect-ratio: 1;
    background-image: url(../../assets/images/compass.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
}
