.battlefield {
  width: 70%;
  aspect-ratio: 1;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-top: 2px solid rgba(255, 255, 255, 0.28) ;
  border-left: 2px solid rgba(255, 255, 255, 0.28);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow: hidden;

  & > div {
      border: 1px solid rgba(255, 255, 255, 0.4);
  }

  position: relative;
}
